<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>692143134687-8soepq0imn0j5dkfekr83c5jfbs02omq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.692143134687-8soepq0imn0j5dkfekr83c5jfbs02omq</string>
	<key>API_KEY</key>
	<string>AIzaSyD0F1PzZjHT-xnMTt-7KXZIKLHS2gTtItk</string>
	<key>GCM_SENDER_ID</key>
	<string>692143134687</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Marcus-Nilsson.IosChatt</string>
	<key>PROJECT_ID</key>
	<string>ioschat-6dcf4</string>
	<key>STORAGE_BUCKET</key>
	<string>ioschat-6dcf4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:692143134687:ios:cae4c3e649213c8662566a</string>
</dict>
</plist>